.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
}

.logo h1 {
  font-size: 1.5em;
  color: #333;
}

.icons {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: auto;
  margin-right: 20px;
}

.icon {
  padding-left: 5px;
  width: 1.5rem;
  cursor: pointer;
  margin: 10px 5px;
}
.icon:hover {
  fill: #1890ff;
}


