.dashboard {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e0e0e0;
  flex-grow: 1;
}


.dashboard1 {
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5;
  padding: 20px;
  border-bottom: 2px solid #e0e0e0;
}

.stat {
  width: 23%;
  padding: 20px;
  border-radius: 10px;
  color: #000;
  border: 2px solid #000; /* Darker border for better visibility */
  background-color: #fff;
  position: relative;
  border: 2px solid #f5f5f5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}



.right__table {
  width: 50%;
  margin: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
}

.order__table {
  background-color: #f9f9f9;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.right__tableTitle {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
  padding: 16px;
  text-align: center;
}

.right_tableWrapper {
  /* overflow-x: auto; */
  padding: 16px;
}



th,
td {
  padding: 12px;
  text-align: left;
  font-size: 1rem;
  color: #555;
}
td[data-label="Sản phẩm"] {
  width: 50%; /* Tăng độ rộng của ô sản phẩm */
  font-size: 1rem; /* Điều chỉnh kích thước chữ nếu cần */
  padding-left: 20px; /* Thêm khoảng cách cho ô sản phẩm */
}

th {
  background-color: #f2f2f2;
  color: #333;
  font-weight: 600;
}

td {
  background-color: #fff;
}

td[data-label="Hình ảnh"] img {
  width: 60%;
  height: auto; /* Duy trì tỷ lệ khung hình */
  object-fit: contain; /* Đảm bảo ảnh nằm gọn trong khung */
  display: block; /* Đảm bảo ảnh là block để căn giữa */
  margin: 0 auto;
}

tr:nth-child(even) td {
  background-color: #f8f8f8;
}

/* img {
  width: 16%;
img {
  width: 100%;
  height: auto;
  border-radius: 4px;
} */

td[data-label="STT"] {
  font-weight: bold;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  list-style-type: none;
}

.pagination a {
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 4px;
}

.pagination .active {
  background-color: #007bff;
  color: white;
}

.pagination a:hover {
  background-color: #ddd;
}

.icon {
  background-color: #d6dffa;
  fill: #6e80ec;
  border-radius: 999px;
  width: 40px;
  height: 40px;
  padding: 6px;
  position: absolute;
  top: 15px;
  right: 15px;
}


.stat__title {
  color: #949493;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.stat__number {
  font-size: 20px;
  padding: 10px 0px;

}

.stat__time {
  color: #ababa4;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.main__dashboard {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Căn chỉnh đều hai bên */
  align-items: flex-start; /* Đảm bảo căn theo đỉnh */
}


.daily__chart {
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  width: 50%;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.right__chart {
  /* padding: 20px; */
  width: 100%;
}

.status__created {
  background-color: #c3ebcd !important;
  font-weight: 600;
  color: #155724 ;
  padding: 5px 10px;
  border-radius: 10px;
}

.status__cancelled {
  font-weight: 600;
  border-radius: 10px;
  color: #fff;
  background-color:  #dc3545 !important;
  padding: 5px 10px;
}

.status__completed {
  font-weight: 600;
  border-radius: 10px;
  color: #fff;
  padding: 5px 10px;
  background-color:  #f0ad4e !important;
}

.status__paid {
  font-weight: 600;
  border-radius: 10px;
  color: #fff;
  padding: 5px 10px;
  background-color:  #669fea !important;
}
.status__shipping {
  font-weight: 600;
  border-radius: 10px;
  color: #fff;
  padding: 5px 10px;
  background-color:  #4ea7f0 !important;
}